#container {
    
    /*display: grid; */
    /*grid-template-columns: 33% 33% 33%;*/    

    display: flex; 
    width: 90%; 

    margin: auto;
    
}
a:hover{
  cursor: pointer;
}

input[name="filterPriority"] {
  width: 50px;
}

#container div {

    width: 33%; 
    border: 1px solid green; 
   
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    
   

    
}

/*
#container div:nth-child(3n){
    line-break: after; 
  }
*/

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

fieldset {
    width: 50%;
    margin:auto;
    
}